<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
</head>
<body>

<div id="demo">
    <p>{{message}}</p>
    <input v-model="message">
</div>
<script>
    var demo = new Vue({
        el: '#demo',
        data: {
            message: 'Hello Vue.js!'
        }
    })
</script>

<div id="example-2">
    <p v-if="greeting">Hello!</p>
</div>

<script>
    var exampleVM2 = new Vue({
        el: '#example-2',
        data: {
            greeting: true
        }
    })

    var data = {a: 1}
</script>



</body>
</html>