<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="js/vue.js"></script>
</head>
<body>
<div id="app">
    <p> {{ message }} </p>
    <input type="text" v-model="message"/>
</div>
<script>
    new Vue({
        el: '#app',
        data:  {
            message : 'Hello World!'
        }
    })
</script>

<div id="app1">
    <h1>Hello, Vue.js!</h1>
    <h1 v-if="yes">Yes!</h1>
    <h1 v-if="no">No!</h1>
    <h1 v-if="age >= 25">Age: {{ age }}</h1>
    <h1 v-if="name.indexOf('jack') >= 0">Name: {{ name }}</h1>
</div>

<script>
    var vm = new Vue({
        el: '#app1',
        data: {
            yes: true,
            no: false,
            age: 28,
            name: 'keepfool'
        }
    })
</script>

<div id="app2">
    <h1>Hello, Vue.js!</h1>
    <h1 v-show="yes">Yes!</h1>
    <h1 v-show="no">No!</h1>
    <h1 v-show="age >= 25">Age: {{ age }}</h1>
    <h1 v-show="name.indexOf('jack') < 0">Name: {{ name }}</h1>
</div>

<script>
    var vm = new Vue({
        el: '#app2',
        data : {
            yes: true,
            no : false,
            age: 28,
            name: 'keepfool'
        }
    })
</script>


<div id="app3">
    <h1 v-if="age >= 25">Age: {{ age }}</h1>
    <h1 v-else>Name: {{ name}}</h1>
    <h1>-------------------分割线---------------------</h1>
    <h1 v-show="name.indexOf('keep') >= 0"> {{ name }}</h1>
    <h1 v-else>Sex: {{ sex }}</h1>
</div>
<script>
    var vm = new Vue({
        el: '#app3',
        data : {
            age: 25,
            name: 'keepfool1',
            sex: 'Male'
        }
    })
</script>


<div id="app4">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Sex</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="person in people">
                 <td>{{ person.name }}</td>
                 <td>{{ person.age }}</td>
                 <td>{{ person.sex }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var vm = new Vue({
        el: '#app4',
        data : {
            people: [{
             name: 'Jack',
             age: 30,
             sex : 'Male'
            }, {
                name: 'Bill',
                age: 26,
                sex: 'Male'
            }, {
                name: 'Tracy',
                age: 22,
                sex: 'Female'
            }, {
                name: 'Chris',
                age: 36,
                sex: 'Male'
            }]
        }
    })
</script>

<div id="app5">
    <ul class="pagination">
        <li v-for="n in pageCount">
            <a href="javascript:void(0)" v-bind:class="activeNumber === n + 1 ? 'active': '' "> {{ n + 1}}</a>
        </li>
    </ul>
</div>

<script>
    new Vue({
        el : '#app5',
        data : {
            activeNumber: 1,
            pageCount: 10
        }
    })
</script>


</body>
</html>