/*p{
    border-radius: 10px;
    width: 200px;
    !*height: 50px;*!
    background-color: aquamarine;
    text-align: center;
    border: 2px solid blue;
}

.cssid{
    background-color: blue;
     width:100px;
    height: 100px;
    text-align: center;
    box-shadow: 10px 10px 5px #FFccFF;
 }*/
/*body{*/
    /*margin: 0;*/
/*}*/
/*.mg{*/
    /*background-color: blue;*/
    /*width: 100px;*/
    /*height: 100px;*/
    /*margin-top: 100px;*/
/*}*/
body{
    margin: 0;
}
.container{
 margin: 100px;
}
.bd{
    border-style: groove;
}
.pd{
    padding: 10px;
}
.content{
    background-color: aqua;
}



.container1{
    margin: 100px;
}
.bd1{
    border-style: groove;
}
.pd1{
    padding: 10px;
}
.content1{
    background-color: aqua;
}