/**{*/
    /*margin: 0px;*/
/*}*/
.div{
    width: 70%;
    height: 1000px;
    background-color: red;
    /*position: absolute;*/
    /*left: 0px;*/
    /*float: left;*/
    margin: 100px auto;
}

/*.p1{*/
    /*line-height: normal;*/
    /*min-width: 250px;*/
/*}*/

/*.p2{*/
    /*width: 400px;*/
    /*line-height: 200%;*/
/*}*/

/*.p3{*/
    /*width: 400px;*/
    /*line-height: 50%;*/
/*}*/

/*p{*/
    /*cursor: cell;*/
/*}*/


/*li{*/
    /*display: inline;*/
    /*visibility: visible;*/
/*}*/

/*ul{*/
    /*list-style-type: none;*/
    /*margin: 0px;*/
    /*padding: 0px;*/
    /*background-color: burlywood;*/
    /*width: 250px;*/
    /*text-align: center;*/
/*}*/
/*a:link,a:visited{*/
    /*font-weight: bold;*/
    /*text-decoration: none;*/
    /*!*display: block;*!*/
    /*background-color: burlywood;*/
    /*color: aliceblue;*/
    /*width: 50px;*/
    /*text-align: center;*/
/*}*/

/*a:active, a:hover{*/
    /*background-color: crimson;*/
/*}*/

/*li{*/
    /*display: inline;*/
    /*padding: 3px;*/
    /*padding-left: 5px;*/
    /*padding-right: 5px;*/
/*}*/
body{
    margin: 10px auto;
    width: 70%;
    height: auto;
    background-color: burlywood;
}
.image{
    border: 1px solid darkgray;
    width: auto;
    height: auto;
    float: left;
    text-align: center;
    margin: 5px;
}

img{
    margin: 5px;
    opacity: 1;
}

.text{
    font-size:12px;
    margin-bottom: 5px;
}

/*a:hover{*/
    /*background-color: burlywood;*/
/*}*/