#fd{
    width: 100px;
    height: 150px;
    background-color: red;
    float: left;
}

#sd{
    width: 150px;
    height: 100px;
    background-color: aqua;
    float: left;
}

#td{
    width: 100px;
    height: 100px;
    background-color: green;
    float: left;
}
#container{
    width: 300px;
    height: 500px;
    background-color: brown;
}

#text{
    clear: both;
}